*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}
body{
    max-width: 1600px;
    margin: 0 auto;
    
}
/* header start */
header{
    width: 80%;
    background-color: #F6F1E9;
}
nav{
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 40%;
    margin-left: 20px;
}
.logo img{
    width: 130px;
    height: 130px;
    
}
.menu{
    width: 60%;
}
.menu ul{
    display: flex;
    justify-content: space-between;
}
.menu li{
    list-style: none;
    margin-top:30px;
}
.menu li a {
    text-decoration: none;
    font-size: 23px;
    color: #4F200D;
    padding:12px 22px;
    
}
.menu li a:hover{
    background-color: #B8621B;
    color: whitesmoke;
    transition: 0.5s;
    
}
/* banner */
.banner{
    background-image: url(../images/pohela.jpg);
    width: 100%;
    min-height: 450px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.banner-content{
    padding-top: 40px;
    text-align: center;
}
.banner h2 {
    
    font-size: 30px;
    color: #E9A178;
}
.banner p{
    font-size:20px;
    color: #E9A178;
    margin: 30px 0 70px 0;
}
.banner a{
    font-size: 20px;
    color: white;
    padding: 10px 20px;
    background-color: #F99417;
    border-radius: 20px;
    text-decoration: none;
    border: 2px solid #245953;
}
.banner a:hover{
    background-color: #FFF2CC;
    color: #245953;
    transition: 0.5s;
}
/* main part */
.container{
    width: 80%;
}
.content-area{
    width: 100%;
    
}
.content-area h2{
    text-align: center;
    font-size: 35px;
    color: #262A56;
    margin: 20px auto;
}
.services{
    display: flex;
    justify-content:space-between;
    text-align: center;
    
}
.service-item{
    background-color: #1F8A70;
    width: 30%;
    min-height: 450px;
    margin-left:0;
    margin-right: 0;
    
}
.service-item h3{
    color: white;
    font-size: 30px;
    margin:15px 0 12px 0;
}
.service-item p{
    color: white;
    font-size: 20px;
    margin: 5px 0 10px 0 ;
    padding-bottom: 20px;
    width: 85%;
    text-align: center;
}
.service-item img{
    width: 85%;
    height: 220px;

}

.service-item .btn{
    color: white;
    font-size: 20px;
    background-color:#F99417; 
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 18px;
    border:2px solid #245953;
}
.service-item .btn:hover{
    color: #4F200D;
    background-color: #F6F1E9;
    transition: 0.5s;
}
/* about and sidebar */
.main-about{
    width: 100%;
    background-color: #F6F1E9;
    min-height: 260px;
}
.about-sidebar{
    display: flex;
    justify-content: space-between;
    
}
.about-sidebar h3{
    font-size: 30px;
}
.about-sidebar p{
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
}
.about{
    width: 78%;
    margin-right:2%;
    margin-top: 20px;
    text-align: justify;
}
.about .btn{
    color: white;
    font-size: 20px;
    background-color:#F99417; 
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 18px;
    border:2px solid #245953; 
}
.about .btn:hover{
    color: #4F200D;
    background-color: #F6F1E9;
    transition: 0.5s;
}
.sidebar{
    width: 20%;
    margin-top: 20px;
}
.sidebar li{
    list-style-type: none;
    margin-top: 5px;
}
.sidebar  a{
    text-decoration: none;
    font-size: 20px;
    padding: 15px 0;
    color: black;
    
}
/* footer area */
.footer{
    width: 80%;
}
.footer-area{
    background-color: #1F8A70;
    color: white;
    font-size: 20px;
    text-align: center;
}
.footer-area p{
    padding: 20px 0;
}